/* NO classes or IDs */
/* Please Make only World and Zebra Blue */
section > h2{
  color: Blue;
}
/* Please Make only Zebra Purple */
section > h2 + h2{
  color: Purple;
}
/* Please Make only Hufflepuff Gold */
section > article > h2 + h2{
  color: Gold;
}
/* Please keep Hufflepuff Gold and make ONLY Unicorn Gray  */
section > article > h2{
  color: Gray;
}
