h1{
  padding: 10px 10px 10px 0;
  margin: 0 0 0 20px;
  background: #B19CD9;
  color: lightblue;
}

h2{
  padding: 50px 0;
  border-top: 10px solid darkgreen;
  border-bottom: 10px solid darkgreen;
  background: orange;
}

section{
  border: 10px solid blue;
  height: 300px;
  margin-top: 444px;
}

span{
  border: 5px solid yellow;
  padding: 10px;
  margin: 10px;
}
